<template>
    <div class="container w-100 m-auto text-center mt-3">
        <h1 class="text-danger">Laravel-Vue Todo List</h1>
        <add-item-form v-on:reloadlist="getItems()" />
        <list-view
            :items="items"
            v-on:reloadlist="getItems()"
            class="text-center"
        />
    </div>
</template>

<script>
    import addItemForm from "./addItemForm";
    import listView from "./listView";

    export default {
        components: {
            addItemForm,
            listView
        },

        data: function() {
            return {
                items: []
            };
        },
        methods: {
            getItems() {
                axios
                    .get("api/items")
                    .then(res => {
                        this.items = res.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },
        created() {
            this.getItems();
        }
    };
</script>

<style scoped></style>
