<template>
    <div class="mt-4">
        <h4>List View</h4>
        <hr class="w-50 m-auto mb-3" />
        <ul class="list-group m-auto">
            <li v-if="items.length == 0" class="list-group-item d-flex justify-content-between w-50 empty-record">
                <span>No Items added yet!</span>
            </li>

            <list-item
                :item="item"
                v-on:itemchanged="$emit('reloadlist')"
                v-else v-for="item in items"
                :key="item.id"
                class="m-auto my-1 text-justify text-wrap"
            />
        </ul>
    </div>
</template>

<script>
    import listItem from "./listItem";

    export default {
        components: {
            listItem
        },
        props: ["items"]
    };
</script>

<style scoped>
    .empty-record {
        margin-left: 280px;
    }
</style>
