<template>
    <li class="list-group-item d-flex justify-content-between w-50">
        <input
            type="checkbox"
            @change="updateCheck()"
            v-model="item.completed"
            class="mr-3 form-check-input mt-2"
        />
        <span :class="[item.completed ? 'completed' : '', 'item mt-2']">
            {{ item.name }}
        </span>
        <button class="btn btn-sm btn-danger ml-3" @click="removeItem()">X</button>
    </li>
</template>

<script>
    export default {
        props: ["item"],
        methods: {
            updateCheck() {
                axios
                    .put(`api/item/${this.item.id}`, {
                        item: this.item
                    })
                    .then(res => { console.log(res)
                        if (res.status == 200) {
                            this.$emit("itemchanged");
                        }
                    })
                    .catch(error => {
                        console.log("error from axios put", errors);
                    });
            },
            removeItem() {
                axios
                    .delete(`api/item/${this.item.id}`)
                    .then(res => {
                        if (res.status == 200) {
                            this.$emit("itemchanged");
                        }
                    })
                    .catch(error => {
                        console.log("error from axios delte ", error);
                    });
            }
        }
    };
</script>

<style>
    .completed {
        text-decoration: line-through;
        color: gray;
    }
    .item {
        word-break: break-all;
    }
</style>
